@model Bank.Models.MainMenuModel

@{
    ViewBag.Title = "MainMenu";
}

<h2>MainMenu</h2>


@using (Html.BeginForm("ListAccounts", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    <input type='submit' value='List Accounts' id="ListAccounts"/>
}

@using (Html.BeginForm("ListBalances", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    <input type='submit' value='List All Balances'  id="ListBalances"/>
}


@using (Html.BeginForm("ListBalance", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.data, new { id = "BalanceAccount" })
    <input type='submit' value='Show Balance' id="ShowBalance"/>
}


@using (Html.BeginForm("ListTransactions", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.data)
    <input type='submit' value='ListTransactions' id="ListTransactions"/>
}


@using (Html.BeginForm("AddMoney", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    ;
    <table>
        <tr>
            <td style="padding: 10px">
                @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.data)
            </td>
            <td>  Amount: </td>
            <td>
                <input type="number" id="AddAmount" name="Amount" value="0" />
            </td>
            <td> <input type='submit' value='Add Money' id="AddMoney"/> </td>
        </tr>
    </table>
}

@using (Html.BeginForm("Withdraw", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    <table>
        <tr>
            <td>
                @Html.DropDownList("SelectedAccount", 
                                   (SelectList)ViewBag.data, 
                                   new { id = "WithdrawAccount" });
            </td>
            <td>
                Amount:
            </td>
            <td>
                <input type="number" id="WithdrawAmount" name="Amount" value="0" />
            </td>
            <td> <input type='submit' value='Withdraw' id="Withdraw"/> </td>
        </tr>
    </table>
}
@using (Html.BeginForm("Transfer", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    <table>
        <tr>
            <td> Amount: </td>
            <td>
                <input type="number" id="Amount" name="Amount" value="0" />
            </td>
            <td> From </td>
            <td>
                @Html.DropDownList("FromAccount", (SelectList)ViewBag.data);
            </td>
            <td> To: </td>
            <td>
                @Html.DropDownList("ToAccount", (SelectList)ViewBag.data);
            </td>
            <td> <input type='submit' value='Transfer' id="Transfer"/> </td>
        </tr>
    </table>
}
@using (Html.BeginForm("Lock", "Home"))
{
    @Html.Hidden("UserName")
    @Html.Hidden("UserID")
    <table>
        <tr>
            <td>
                @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.data)
            </td>
            <td>  <input type='submit' value='Lock' id="lock"/> </td>
        </tr>
    </table>
}
